.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px 16px;
  min-height: 100vh;

  @media (max-width: var(--s-viewport)) {
    padding: 64px 8px 16px;
  }

  @media (max-width: var(--xs-viewport)) {
    padding-top: 84px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-grow: 1;

  @media (max-width: var(--s-viewport)) {
    flex-direction: column-reverse;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.sidebar {
  min-width: 300px;
  display: flex;

  @media (max-width: var(--s-viewport)) {
    min-width: 100%;
  }
}

.footer {
  text-align: center;
  padding-top: 40px;
}
