.root {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rebeccapurple;
  margin: 0 -16px 16px;
  padding: 16px 10px;
}

.right {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  gap: 16px;
}
